.vscode/**
.vscode-test/**
out/**
coverage/**
null/**
scripts/**
.nyc_output/**
src/**
test/**
node_modules/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
webpack.config.js
*.log
